*{
	border-radius: 0!important;
}

nav.navbar.navbar-default.navbar-fixed-top.topic {
    background-color: rgba(21,21,21,0.93)!important;
}

.navbar-brand {
    padding: 20px 15px;
}

body{
	padding-top: 20px;
}

#wrapper {
    background: rgba(21,21,21,0.93)!important;
}
.sidebar ul li {
	text-align: center;
    border-bottom: none; 
}
.sidebar .sidebar-search {
    padding: 15px;
}

.navbar-default {
    background-color: transparent!important;
}


@media (min-width: 768px){
	.sidebar {
	    margin-top: 60px;
	}
	.sidebar .sidebar-search {
	    padding: 0px!important;
	}
	.sidebar ul li {
		text-align: left;
	}
	#page-wrapper {
    	margin: 40px 0 0 250px;
	}
}
