pre {
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

#response {
    border-bottom: 1px solid lightgray;
    background-color: black;
    min-height: 50px;
    max-height: 350px;
    overflow-y: scroll;
    padding-bottom: 50px;
}

#response * {
	color: thistle;
}

.dropdown-menu > li > .a-btn{
    background: transparent;
    border: none;
    padding-left: 20px;
    width: 100%;
    text-align: left;
}
.dropdown-menu > li > .a-btn:hover,
.dropdown-menu > li > .a-btn:focus {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}